body,
html {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #F05F40;
}

hr.light {
  border-color: #fff;
}

a {
  color: #F05F40;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #f05f40;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;    
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
}

.bg-primary {
  background-color: #F05F40 !important;
}

.bg-dark {
  background-color: #252528;
}
.main-information{
  background-color: #2D4059;
}
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}
section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #252528;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #fff;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #F05F40;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #F05F40 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: #252528;
  }
  #mainNav .navbar-brand {
    color: #ddd;
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
    box-shadow: 0 -3px #EA5455 inset ,0 -3px #EA5455;
    transition: all .5s ease-in-out;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #F05F40;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #f05f40;
    
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #032A33;
  }
}


section.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

section.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  section.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  section.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  section.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  section.masthead h1 {
    font-size: 4rem;
  }
}

.service-box {
  max-width: 400px;
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}

.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(240, 95, 64, 0.9);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

.portfolio-box:focus {
  outline: none;
}

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}

.text-primary {
  color: #F05F40 !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  background-color: #2D4059;
  color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
.btn:hover{
  background-color: #334966;
  color: #fff;
}

.btn-primary {
  background-color: #F05F40;
  border-color: #F05F40;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #ee4b28 !important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}
/* Mi estilos */

.login-container{
  margin-top: 2.2em;
  flex-grow: 1;
}

.footer-container{
  padding: 1.5rem;
  flex-basis: 4rem;
  font-size: 1.1em;
}


.contact-list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact__items{
  font-weight: normal;
}

.contact__icons{
  font-size: 1.3em;
  margin: .2em;
  color:#EE4B28;
}

.boton-enviar{margin-top: 1em;}

.item{
  resize: vertical;
  max-height: 200px;
  min-height: 100px;

}
/* Estilos del  footer*/
.footer__item{
  color:#fff;
  font-size: 1.2em;
}

.social-container{
  font-size: 1.5em;
}
.social{
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.contenedor-footer{ 
  height:10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cambiar{
  position: fixed;
  bottom:0; 
  width: 100%;
  left: 0;
}

.listar-container{
  padding-top: 5.5em;
}

.menu__icon{
  margin-right: .3em;
}

.item__link{
  background: #F05F40;
  padding: 1em;
  color:#fff;
  text-decoration: none;
}

.table__items,
.table__item,
.table__users,
.table__products{
  text-align: center;
}

.mensaje{
  font-size: 1.2em;
  font-family: 'Open Sans',sans-serif;
}


.login__title,
.form-title{
  font-weight: normal;
  font-size: 1.8em;
}

.form-btn{
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.main-banner-container{
  padding:10rem 0;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height:80vh;
  color:#2D4059;
}
  .main-banner-img{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    -o-object-fit:cover;
    object-fit:cover;
    opacity:0.4;
  }
    .main-banner-data{
      position:relative;
      text-align:center;
      font-size: 1.1rem;
    }
    @media screen and (max-width: 768px){
      .main-banner__title{
        font-size: 1.8rem;
      }
      .main-banner__description{
        display: none;
      }
      .separador{
        display: none;
      }
    }

.services-title{
  font-size: 1.7rem;
}

.login-title{
  text-align: center;
}
@media screen and (max-width: 64em){
  .main-information-services{
    padding: 2rem 0;
  }
}


.loginForm-container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  flex-direction: column;
}

.loginForm-container-item{
  width: 70%;
}

@media screen and (max-width: 480px){
  .loginForm-container-item{
    width: 100%;
  }
}
